* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: wheat;
}

header, footer, main {
    max-width: 36rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
}

#profile-pic {
    width: 150px;
    height: auto;
}

#title-section {
    border-bottom: 1px solid rgb(187, 187, 212);
    margin-bottom: 10px;
    margin-left: -1rem;
}