@media only screen and (max-width: 600px) {
  
    nav ul {
        flex-direction: column;
        height: 150px;
        padding: 0px;
    }

    a:link {
        margin-bottom: .2rem;
        width: 10rem;
    }

    .city-image {
        height: auto;
    }

    .color1 {
        padding: 2rem;
    }
    .color2 {
        padding: 2rem;
    }
    .color3 {
       padding: 2rem;
    }
    .color4 {
       padding: 2rem;
    }
    .color5 {
        padding: 2rem;
    }

    .target-aud {
        height: 300px;
    }
    
}