* {
    font-size: 12px;
}

header ul {
    display: flex;    
}

header  {
    display: flex;
    background-color: #1E152A;
    color: white;
    border-radius: 1rem;
    padding-bottom: 1px;
}

img {
    width: 6rem;
    height: auto;
}

header li {
    margin: 1rem;
    width: 100%;
    list-style-type: none;
    background-color: #F0F5F1;
    color: #1E152A;
    text-align: center;
    height: 1rem;
    padding: 8px;
}

header {
    margin-top: -12px;
}

nav {
    width: 70%;
}

header p {
    text-align: center;
    margin-top: -0.5rem;
    background-color: #1f1137;
    border-radius: 0.25rem;
    width: 100%;
    margin-left: -60%;
    margin-top: 1px;
    color: white;
    position: static;
    padding-right: 80%;
}

main section {
    margin: 1rem;
    height: 15rem;
    text-align: center;
    background-color:#F0F5F1;
    border: .5px solid #1E152A;
    border-radius: .25rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1E152A;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

footer li {
    padding: 1rem;
    list-style-type: none;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    margin-right: 1rem;
    padding: 25px;
}

.logo h1 {

    font-size: 1rem;
    text-align: center;
    margin-bottom: auto;
    background-color: #1f1137;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    width: 6rem;
}

.social-media {
    display: flex;
    margin-bottom: auto;
}

.social-media ul {
    margin-left: -9rem;
}

.social-media li {
    background-color: #1E152A;
}

.facebook-logo, .twitter-logo {
    height: auto;
    width: 50px;
    max-height: 45px;
    max-width: 37px;
    border-radius: 1rem;
}


button {
    height: 37px;
    width: auto;
}

#time {
    color: #1E152A;
}

.responsive li {
	display: block;
}

.menu li:last-child {
    display: block;
    background-color: #1E152A;
}

.menu li:first-child {
    display: block;
}

.menu li:nth-child(6) {
    display: block;
}
.menu li:nth-child(7) {
    display: block;
}
.menu li:nth-child(8) {
    display: block;
}
.menu li {
    display: none;
}
.responsive li {
    display: block;
}






