@media only screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    img {
        width: 10rem;
        height: auto;
    }

    header p {
        margin-left: 12px;
        max-width: none;
        width: 75%;
        position: inherit;
    }

    .events {
        height: auto;
    }
    .gWar {
      height: auto;
    }

    .welcome {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: auto;
    }

    .weather {
        height: auto;
    }

    .logo-title h1 {
        margin-right: 5rem;
        margin-left: 1rem;
        width: 15rem;
        font-size: large;
    }
    
    .menu {
        display: flex;
    }

    .menu li {
        display: block;
        margin-right: auto;
        position: inherit;
        margin-bottom: -2rem;
        background-color: lightgray;
        width: 7rem;
        text-align: center;
        margin-top: 1rem;
        padding: 2px;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li:hover {
        background-color: white;
    }

    .menu a {
        text-align: center;
        
    }

    .menu a:link { text-decoration: none; }
    .menu a:visited { text-decoration: none; }
    .menu a:hover { text-decoration: none; }
    .menu a:active { text-decoration: none; }

    .logo h1 {
        font-size: 2rem;
        margin-bottom: auto;
        padding: .5rem;
        color: white;
    }

    .facebook-logo, .twitter-logo {
        height: auto;
        width: 50px;
        max-height: 45px;
        max-width: 37px;
        border-radius: 1rem;
        margin-left: 0px;
    }

    .social-media ul {
        position:static;
        margin-left: 0px;
    }

    .welcome h1 {
        right: 32rem;
        bottom: 47.5rem;
    }
    
    .join {
        right: 17rem;
        bottom: 24rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .discover-container {
        grid-column: 1/4;
        flex-direction: row;
        grid-row: 1/3;
    }

    .discover-info {
        width: 40%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .discover-images {
        width: 100%;
    }

    .discover-images img {
        width: 98%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .discover-images picture p{
        font-size: 1.5rem;
        margin-left: 11px;
        width: 98%;
    }

    .discover-images picture:hover {
        box-shadow: 0 0 50px rgb(32, 32, 30);

    }
    
    .time-since-last-visit {
        display: block;
        position: absolute;
        padding: 5px;
        width: 21%;
    }

    .thanks {
        margin-bottom: 280px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-column: 1/4;
        grid-row: 1/4;
    }

    .cards section {
        border: none;
        background-color: white;
        /* box-shadow: 0 0 10px rgb(32, 32, 30); */
    }

    .cards section img{
        width: 100%;
    }

    .weather-info div {
        margin-left: 2rem;
    }

    #desc {
        margin-left: -4rem;
    }

    .icon-degree {
        margin-left: 0px;
    }

    .icon-degree p, span {
        margin-top: 4rem;
    }
}