header {
    border-bottom: 1px solid #bfd2e0;
    background-color: #f1f1f1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    width: 100%;
    height: 5rem;
    margin-top: -2rem;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
}

header li {
    list-style-type: none;
    margin-right: 6%;
    width: 100%;
}


header li img {
    margin-top: 10px;
    width: 67px;
    height: 50px;
}

.logo img {
    margin-top: 0px;
    width: 150px;
    height: 70px;
}

header li a {
    color: #5e60ce;
    text-decoration: none;
    padding: 3%;
}

.logo:hover {
    background-color: #f1f1f1;
    box-shadow: none;
    padding: 0px;
}

header li a:hover {
    background-color: #f8f3d7;
    box-shadow: 0 0 10px 5px rgb(170, 170, 170);
    padding-left: 40px;
    padding-right: 40px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.book-and-amenities {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    margin-left: 8%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    grid-column: 1/6;
    width: 100%;
}

.section1 img {
    margin-right: 1rem;
    width: 38%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.book-and-amenities button {
    background-color: #bfd2e0;
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 12%;
    border: #ffea96 1px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.book-and-amenities button:hover {
    background-color: #5e60ce;
    cursor: pointer;
}

.book-and-amenities h2 {
    margin-top: 0rem;
    text-align: center;
    background-color: #555555;
    color: #fffdf3;
}

.amenities {
    background-color: #fffdf3;
    width: 40rem;
    height: 31rem;
    margin-top: 28px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.amenities p {
    font-size: 20px;
    text-align: center;
}

.section2 {
    margin-top: 2rem;
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section2 h2 {
    text-align: center;
}

.ss-row {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 2px;
}

.ss-row img {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-right: 2%;
    width: 33rem;
    height: auto;    
    max-height: 13rem;
}

.ss-row div {
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding-left: 2%;
}

.section3 {
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 2rem;
    width: 100%;
}

.section3 .temple-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-right: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section3 .temple-container img {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    width: 275px;
}

.section3 .temple-container div {
    margin-left: 2%;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 10px;
}

.section3 .contact-us-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 30%;
    padding: 1rem;
}

.section3 .contact-us-container .location {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    height: 100%;
    text-align: center;
}

.section3 .contact-us-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.section4 {
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 2rem;
    width: 100%;
}

.section4 .todays-weather {
    width: 15%;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-right: 2%;
    padding: 1rem;
}

.section4 .todays-weather p {
    margin: 5px;
    margin-bottom: 20px;
}

.section4 .todays-weather h3 {
    text-align: center;
    margin-top: 0px;
}

.section4 .forecast {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1rem;
    padding-top: 0px;
    background-color: #fffdf3;
}

.section4 .forecast h3 {
    margin-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section4 .forecast .days {
    display: flex;
    flex-direction: row;
}

.section4 .forecast .days div {
    width: 100%;
    height: 17rem;
    text-align: center;
    margin: 10px;
}
.day1, .day2, .day3 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;
}

footer {
    margin-top: 6rem;
    background-color: #f1f1f1;
    height: 5rem;
    border-top: 1px solid #bfd2e0;

}

.hamburger-menu {
    display: none;
}

main h1 {
    text-align: center;
}

.temples-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.temple-section {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.temple-section .img-and-info {
    display: flex;
    flex-direction: column;
}

.temple-section .img-and-info img {
    height: 400px;
    max-width: 600px;
}

.temple-section h4 {
    margin: 0px;
    margin-top: 10px;
}

.temple-section ul {
    margin: 0px;
    margin-top: -20px;
}

.temple-section ul li ul li:first-child{
    margin-top: -10px;
}

.accordian-button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: white;
    transition: background 0.2s;
    max-width: 600px;
}

.accordian-button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
}

.accordian-button--active {
    background-color: #555555;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.accordian-button--active::after {
    content: "\25b4";
}


.accordian-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    background-color: #eeeeee;
    max-width: 571px;
}


.accordian-content div h5 {
    margin-bottom: 1px;
    margin-top: 9px;
}

.accordian-content div p {
    padding-left: 20px;
}

.accordian-content div h5:first-child {
    margin-top: 3px;
}

.accordian-content div {
    padding-left: 10px;
}

.form-container {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-container form {
    display: flex;
    flex-direction: row;
}

.personal {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    margin-left: auto;
    border: #d8d3d3 1px solid;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.form-container .stay div p {
    margin-bottom: 1px;
}

.comments {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.room-container {
    padding-top: 0px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 245, 231);
}

.room-container h4 {
    margin-top: 2px;
    border-bottom: #333333 solid 1px;
    text-align: center;
}

.room-container div {
    border: #333333 solid .5px;
    width: 100%;
    padding: 10px;
    margin: 1px;
    padding-bottom: 20px;
}

.stay {
    margin-right: auto;
    border: #d8d3d3 1px solid;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;

}

.formSubmit {
    position: absolute;
    left: 35.8%;
    top: 30rem;
}
.required:after {
    content:" *";
    color: red;
}

.services-container {
    width: 54%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
}

.reception-container, .missonary-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.reception-container img, .missonary-container img {
    width: 100%;
    margin-right: 5rem;
    width: 447px;
    max-height: 500px;
}

.reception-hall-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 3rem;
}

.reception-hall-container img {
    width: 800px;
}

.missonary-page-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.class-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: #333333 1px solid;
    margin-top: 1rem;
    padding: .5rem;
}

.circle img {
    margin-top: 15px;
    border-radius: 9rem;
    padding-left: 1rem;
    width: 20rem;
}

.class-container .circle p {
    margin-left: 25px;
    padding: 8px;
    text-align: center;
    background-color: #333333;
    color: white;
}

.class-container p {
    margin-left: 10rem;
    font-size: 20px;
}

.class-container div:last-child {
    margin-top: 5rem;
    border-left: #a1a1a1 solid 1px;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.todays-weather .todays-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    border-bottom: #ffea96 5px solid;
}

.no-hover:hover {
    background-color: #f1f1f1;
    box-shadow: none;
    padding: 0px;
}
