header {
    border-bottom: 1px solid #bfd2e0;
    background-color: #f1f1f1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    width: 100%;
    height: 5rem;
    margin-top: -2rem;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
}

header li {
    list-style-type: none;
    margin-right: 6%;
    width: 100%;
}

header li img {
    width: 150px;
    height: 70px;
}

header li a {
    color: #5e60ce;
    text-decoration: none;
    padding: 3%;
}

.logo:hover {
    background-color: #f1f1f1;
    box-shadow: none;
    padding: 0px;
}

header li a:hover {
    background-color: #f8f3d7;
    box-shadow: 0 0 10px 5px rgb(170, 170, 170);
    padding-left: 40px;
    padding-right: 40px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.book-and-amenities {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    margin-left: 8%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    grid-column: 1/6;
    width: 100%;
}

.section1 img {
    margin-right: 1rem;
    width: 38%;
    height: auto;
}

.book-and-amenities button {
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 12%;
}

.book-and-amenities h2 {
    margin-top: 0rem;
    text-align: center;
}

.amenities {
    border: 1px solid red;
    width: 40rem;
    height: 31rem;
    margin-top: 28px;
}

.section2 {
    margin-top: 2rem;
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: red 1px solid;
}

.section2 h2 {
    text-align: center;
}

.ss-row {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 2px;
}

.ss-row img {
    border: green solid .5px;
    margin-right: 2%;
    width: 17rem;
    height: auto;
}

.ss-row div {
    width: 100%;
    border: green solid .5px;
    padding-left: 2%;
}

.section3 {
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 2rem;
    width: 100%;
}

.section3 .temple-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    border: red 1px solid;
    padding: 1rem;
    margin-right: 2%;
}

.section3 .temple-container div {
    margin-left: 2%;
    border: green 1px solid;
    width: 100%;
}

.section3 .contact-us-container {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    width: 30%;
    padding: 1rem;
}

.section3 .contact-us-container .location {
    outline: green 1px solid;
    height: 100%;
    text-align: center;
}

.section3 .contact-us-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.section4 {
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 2rem;
    width: 100%;
}

.section4 .todays-weather {
    width: 15%;
    height: 15rem;
    border: red solid 1px;
    margin-right: 2%;
    padding: 1rem;
}

.section4 .todays-weather h3 {
    text-align: center;
    margin-top: 0px;
}

.section4 .forecast {
    width: 60%;
    border: red solid 1px;
    padding: 1rem;
    padding-top: 0px;
}

.section4 .forecast h3 {
    margin-top: 0px;
    text-align: center;
    border: green 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.section4 .forecast .days {
    display: flex;
    flex-direction: row;
}

.section4 .forecast .days div {
    border: 1px solid green;
    width: 100%;
    height: 13rem;
    text-align: center;
}

footer {
    margin-top: 2rem;
    background-color: #f1f1f1;
    height: 5rem;
    border-top: 1px solid #bfd2e0;

}

.hamburger-menu {
    display: none;
}

main h1 {
    text-align: center;
}

.temples-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.temple-section {
    margin: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.temple-section .img-and-info {
    display: flex;
    flex-direction: column;
}

.temple-section .img-and-info img {
    height: 400px;
    max-width: 600px;
}

.temple-section h4 {
    margin: 0px;
    margin-top: 10px;
}

.temple-section ul {
    margin: 0px;
    margin-top: -20px;
}

.temple-section ul li ul li:first-child{
    margin-top: -10px;
}

.accordian-button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: white;
    transition: background 0.2s;
    max-width: 600px;
}

.accordian-button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
}

.accordian-button--active {
    background-color: #555555;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.accordian-button--active::after {
    content: "\25b4";
}


.accordian-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    background-color: #eeeeee;
    max-width: 571px;
}
