@media only screen and (max-width: 600px) {

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 13px;
    }

    p {
        font-size: 12px;
    }

    header {
        font-size: 20px;
    }

    header ul {
        width: 82%;
    }

    header li img {
        width: 78px;
        height: 70px;
        margin-left: 0px;
    }

    header li a:hover {
        padding-left: 10px;
        padding-right: 10px;
    }

    header li {
        display: none;
    }

    header li:first-child {
        display: block;
        margin-left: 0px;
    }

    header li:nth-child(6) {
        display: block;
    }

    header li:nth-child(7) {
        margin-left: 10rem;
        display: block;
    }

    header li:last-child {
        display: block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .section1 img {
        width: 85%;
        height: auto;
        margin-bottom: 1rem;
    }

    .book-and-amenities {
        flex-direction: row;
        width: 100%;
    }

    .section1 .amenities {
        margin-top: 1rem;
        height: 200px;
        width: 120%;
        margin-right: 5rem;
        margin-left: 10px;
    }

    .section1 .book-and-amenities h2 {
        /* position: absolute;
        left: 17.5rem;
        top: 27.5rem; */
        font-size: 20px;
    }

    .ss-row img {
        width: 6rem;
    }

    .section2 h2 {
        margin-top: 5px;
    }

    .section2 {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .ss-row {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .section3 {
        flex-direction: column;
        margin-top: 0px;
    }

    .section3 .temple-container {
        flex-direction: column;
        width: 78%;
        margin-top: 1rem;
        margin-left: -3px;
        margin-right: 0px;
    } 

    .section3 .temple-container div {
        margin-left: 0px;
    }

    .section3 .contact-us-container {
        margin-top: 1rem;
        width: 78%;
        margin-left: -3px;
    }

    .section4 {
        flex-direction: column;
    }

    .section4 .todays-weather {
        width: 78%;
        height: 7rem;
        margin-right: 0px;
        margin-top: -1rem;
        margin-bottom: 1rem;
        margin-left: -2px;
    }

    .section4 .forecast {
        width: 78%;
        margin-left: -2px;
    }

    .section4 .forecast .days div {
        margin: 2px;
    }

    .temples-container {
        display: flex;
        flex-direction: column;
    }

    .temple-section .img-and-info img {
        height: 260px;
    }

    .form-container {
        width: 20rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .room-container {
        flex-direction: column;
        padding-right: 7%
    }


    .formSubmit {
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-container form input {
        width: 75%;
    }

    .form-container form .formSubmit {
        width: 50%;
    }
    

    .form-container form {
        flex-direction: column;
    }

    .personal {
        margin-right: auto;
    }
    .stay {
        margin-left: auto;
    }

    .stay div input {
        margin-left: -2rem;
        margin-right: -4rem;
    }

    .services-container {
        width: 70%;
    }

    .services-container .ss-row img {
        width: 8rem;
    }

    .services-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .services-container .ss-row {
        width: 100%;
    }


    .reception-hall-container img {
        width: 272px;
    }

    .reception-hall-container h1 {
        font-size: 20px;
    }

    .reception-hall-container {
        width: 75%;
    }

    .class-container {
        flex-direction: column;
    }

    .circle img {
        padding-left: 0px;
    }

    .class-container .circle p {
        padding: 5px;
        margin-left: 0px;
    }

    .class-container p {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }

    .class-container div:last-child {
        margin-top: 0px;
        border-left: none;
    }

    h1 {
        font-size: 15px;
    }

    .amenities p {
        font-size: 10px;
    }

    .today-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #todayImage {
        margin-right: 66px;
        margin-top: -30px;
    }

    .circle img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .logo img {
        margin-right: -9px;
        width: 78px;
        margin-top: 5px;
    }

    header li img {
        width: 50px;
        height: 40px;
        margin-left: -1rem;
        margin-right: 5px;
    }

    .active {
        border-bottom: none;
    }
}